@import "tailwindcss";

@theme {
  --color-purple: #611c47;
  --color-white: #fdecea;
}

@layer {
  .no-scrollbar::-webkit-scrollbar {
    scrollbar-width: none;
  }
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--color-purple);
  display: flex;
  color: var(--color-white);
  padding: 1.25em;
}

a {
  text-decoration: underline;
}
